@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url('https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap');

html .main {
    height: 100vh;
    width: 100vw;
    font-family: 'Zen Kurenaido', sans-serif;
}

   /* Card section */
.card {
   background-color: rgb(29, 184, 204);
   border-radius: 16px;
   box-shadow: -2rem 0 3rem #000;
   transition: .2s;
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content:space-between;
   padding: 1.5rem;
   margin: 2rem 2.5rem;
   height: 450px;
   min-width: 490px;
   max-height: 500px;
   width: 500px;
 }

 .card:hover {
	transform: translateY(-1rem);
    }
    
    .card:hover~.card {
	transform: translateX(130px);
    }
    
    
    .card:not(:first-child) {
	margin-left: -130px;
    }
/* Main section */
.main {
	overflow-x: scroll;
	padding: 2rem;
	display: flex;
	justify-content: space-evenly;
}

 .main::-webkit-scrollbar {
    transform: rotateX(180deg);
   width: 20px;
   height: 20px;
   }
   .main::-webkit-scrollbar * {
    transform: rotateX(180deg);
   }
   .main::-webkit-scrollbar-thumb {
      background: #cf02cf;
      border-radius: 10px;
   }
   
   .main::-webkit-scrollbar-track {
      background: linear-gradient(50deg,#4d01ff,#ff30f5 3px,#6c25f8 1px,#b5f819);
   }

   /* user info section */
    .user_info {
	    position: relative;
	    display: grid;
	    grid-template-columns: 75px 1fr;
	    align-items: center;
	    margin: 2rem 0 0;
        flex-grow: 1;
    }

    .user_info img {
	display: block;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	margin: 17px 12px;
    }

    .half-circle {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 98px;
	height: 65px;
	fill: none;
	stroke: #a0b6df;
	stroke-width: 8;
	stroke-linecap:butt;
    }

    .username {
	    font-weight: 600;
	    position: absolute;
	    bottom: 15px;
	    transform: translateY(2rem);
    }

    /* toe elements */
    .toe {
        display: flex;

    }

    .common {
        order: 1;
    }
