<<<<<<< Updated upstream
@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Fira Sans", sans-serif;
  background: rgb(49, 49, 49);
}
.main-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-width: 600px;
  min-height: 350px;
  margin: auto;
  padding: 2%;
}
.repo-content {
  background-image: linear-gradient(
    to right,
    rgb(255 255 255),
    rgb(53 119 188)
  );
  border-radius: 20px;
  margin: 10px;
  height: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}

.head,
.toe,
.main_boi {
  margin: 2%;
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
}

.head {
  display: flex;
  justify-content: space-between;
}

.repo-owner {
  font-size: 25px;
  padding-top: 20px;
}
.tags {
  max-width: 50%;
  display: flex;
  flex-wrap: wrap;
}
.tag,
.common {
  border-radius: 10px;
  background-color: rgba(206, 132, 47, 0.651);
  margin: 5px;
  padding: 7px;
}

.main_boi {
  display: flex;
  flex-direction: column;
}

.descrption {
  flex-grow: 2;
  padding-top: 1em;
  padding-left: 0.3em;
}

.toe {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.user_info {
  margin-left: 20%;
  text-align: center;
}

.common {
  font-size: 1.2em;
  margin-left: 0;
}

.username {
  position: absolute;
}

img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-left: 40%;
  position: relative;
}
=======
@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Fira Sans", sans-serif;
  background: #d65345;
}
.main-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-width: 600px;
  min-height: 350px;
  margin: auto;
  padding: 2%;
}
.repo-content {
  background: white;
  border-radius: 20px;
  margin: 10px;
  height: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}

.head,
.toe,
.main_boi {
  margin: 2%;
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
}

.head {
  display: flex;
  justify-content: space-between;
}

.repo-owner {
  font-size: 25px;
  padding-top: 20px;
}
.tags {
  max-width: 50%;
  display: flex;
  flex-wrap: wrap;
}
.tag,
.common {
  border-radius: 10px;
  background-color: rgba(206, 132, 47, 0.651);
  margin: 5px;
  padding: 7px;
}

.main_boi {
  display: flex;
  flex-direction: column;
}

.descrption {
  flex-grow: 2;
  padding-top: 1em;
  padding-left: 0.3em;
}

.toe {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.user_info {
  margin-left: 20%;
  text-align: center;
}

.common {
  font-size: 1.2em;
  margin-left: 0;
}

.username {
  position: absolute;
}

img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-left: 40%;
  position: relative;
}
>>>>>>> Stashed changes
